{% extends 'manager/base.html' %}
{% load static %}

{% load bootstrap4 %}



{% block dashboad %}
<div class="section-header">
    <div class="slider-outer">
        <div class="slider-inner">
            <div class=" projects fron active" data-slider="1">
                <i class="fas fa-file-signature"></i>
                <div class="projects-title">Projects</div>
                <h2 class="title-projects-h2">Add +</h2>
                              
            </div>
        </div>
    </div>
</div>

  <div class="section-body">
      	
			<div class="dashboard-container">
				
                <h2 class="section-title">Adicionar Novo Projeto</h2>
                <p class="section-lead">
                    WorkSmart - Site completo para Gerenciamento e elaboração no processo de desenvolvimento dos seus projetos. 
                </p>

				<div class="row">
								
					<div class="col-12 col-md-6 col-lg-6">
						<div class="card">
						  <div class="card-header">
							<h4>Formulário</h4>
						  </div>
						  <div class="card-body">
							<div class="alert alert-info">
							  <b>Nota!</b> lançamentos de um novo Projeto tem ser elaborado.
							</div>            
							{# Display a form #}
							<form style = "margin-left:36px; margin-right:36px;"  action="." method="post" enctype="multipart/form-data">
							<div style = "position:relative; right:40px;" class="card-header">
									<h4>Validação do dados  do Projeto</h4>
									</div>
								{% csrf_token %}
								{% bootstrap_form form %}
								{% buttons %}
									<button type="submit" class="btn btn-primary">Criar</button>
								{% endbuttons %}
								  
							</div>
						   
						 
						</div>
					 
			  
						  </div>
					 
				
				</div><!-- close .row -->
									
			</div><!-- close .dashboard-container -->
  </div>




{% endblock %}