.slider-outer .projects .projects-title
{
  display: block;
  position: relative;
  font-size: 17px;
  font-weight: 100;
  z-index: 11;
  margin-top: -10px;
  font-weight: 700;
  color: #cccccc;
}

.slider-outer .projects .title-projects-h2
{
  color:  #8898aa;
  font-size: 34px;
}

.section-nav
{
    width: 100%;
}


.slider-outer .projects i
{
    display: block;
    position: absolute;
    left: 910px; 
    right: 0;
    top: 0; 
    margin-top: 19px; 
    font-size: 70px;
    color: #669999;
    z-index: 11;
    
}

.section-title-modificado
{
    
    color: #F4BD76;
   
    
}
