{% extends 'manager/base.html' %}
{% load format_duration %}
{% load static %}




{% block dashboad %}
{{ block.super }}


<section class="section">
    <div class="section-header ">
      <div class="slider-outer">
        <div class="slider-inner">
            <div class="  projects fron active" data-slider="1">
                <div class="projects-title">Tarefa<i class="fa fa-address-card-o"></i></div>
                <h2 class="title-projects-h2">{{ tarefa.titulo }}</h2>               
            </div>
        </div>
    </div>
    </div>    
    <div class="section-body"> 
      <div class="row">
        <div class="col-9">
          <h2 class="section-title section-title-modificado">Gerenciamento </h2>
          <p class="section-lead">Worsmart é ferramenta de  Gerenciamento online para alcançar o sucesso para seu o projeto.</p>
        </div>
        <div class="col-3">
          <a class="mt-5 float-right mr-4" href="{% url 'tarefas' tarefa.projeto.id %}" data-toggle="tooltip" title="Voltar"><i style="font-size: 28px;" class="text-dark fas fa-reply"></i></a>
        </div>
      </div>         
              
        <div class="row">          
            <div class="col-12 col-md-12 col-lg-12">            
                <div class="card">
                  <div class="card-header">
                    <h4 name = 'module' >Tarefa: <span class="text-dark">{{ tarefa.titulo }}</span></h4>
                    <div class="card-header-action"> 
                      {% if tarefa.is_open %}                     
                      <a href="{% url 'etapa_concluido' tarefa.id %}" class="mr-2 btn btn-outline-primary">Etapa Concluída</a></div>                                       
                      <a href="{% url 'iniciar_tarefa' tarefa.id %}" class="mr-2 btn btn-success btn-xs pull-right iniciar_atividade">
                        <span class="glyphicon glyphicon-play"></span>Iniciar atividade
                      </a>                           
                      
                      {% elif tarefa.is_running %}

                      <a href="{% url 'etapa_concluido' tarefa.id %}" class="mr-2 btn btn-outline-primary">Etapa Concluída</a></div> 
                      <a href="{% url 'concluir_tarefa' tarefa.id %}" class="mr-2 btn btn-success btn-xs pull-right">
                          <span class="glyphicon glyphicon-ok"></span>Concluir
                      </a>
  
                      <a href="{% url 'pausar_tarefa' tarefa.id %}" class="mr-2 btn btn-danger btn-xs pull-right">
                          <span class="glyphicon glyphicon-pause"></span>Pausar
                      </a>                    
  
                  {% elif tarefa.is_paused %}
                  
                  <a href="{% url 'etapa_concluido' tarefa.id %}" class="mr-2 btn btn-outline-primary">Etapa Concluída</a></div> 
                      <a href="{% url 'concluir_tarefa' tarefa.id %}" class="mr-2 btn btn-success btn-xs pull-right">
                          <span class="glyphicon glyphicon-ok"></span>Concluir
                      </a>
  
                      <a href="{% url 'iniciar_tarefa' tarefa.id %}" class="mr-2 btn btn-info btn-xs pull-right">
                          <span class="glyphicon glyphicon-play"></span>Trabalhar
                      </a>
  
                  {% elif tarefa.is_done %}                 
            </div>
                  {% endif %}                
                                
                  </div>
                  <div class="card-body">
                    <div class="media">                   
                      <div class="media-body">
                        <h5 class="mt-0">Descrição</h5>
                        <p class="mb-0">{{ tarefa.descricao}}.</p>
                        <br>
                        <h5 class="mt-0">Duração:<span class="badge"> {{ tarefa.duracao_total | duration }}</span> </h5>
                        <h5 class="mt-2">
                          Pré Requisito:
                          <br>
                          <br>
                          <span class="mt-5">
                            {% for requisito in tarefa.pre_requisitos.all %}
                            {% if requisito.status == '3' %}
                            <li class="btn btn-success btn-sm">{{ requisito.titulo }} concluida</li>
                            {% else %}
                            <li class="btn btn-warning btn-sm">{{ requisito.titulo }}</li>
                            {% endif %}
                            {% empty %}
                            <button type="button" class="btn btn-danger btn-icon icon-left">
                              <i class="fas fa-sitemap"></i> Essa tarefa não tem Pré-Requisitos a ser feito<span class="badge badge-transparent"></span>
                            </button>
                            {% endfor %}
                          </span>                         
                        </h5>
                      </div>
                    </div>
                    <br>      
                    {% if tarefa.complete_per <= 28 %}
                  <div class="progress mb-3">
                    <div class="progress-bar bg-danger" role="progressbar" data-width="{{ tarefa.complete_per }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ tarefa.complete_per}}%;"><span style="text-align: center;">{{ tarefa.complete_per }}%</span></div>
                  </div>
                  {% elif tarefa.complete_per <= 60 %}
                  <div class="progress mb-3">
                    <div class="progress-bar bg-warning" role="progressbar" data-width="{{ tarefa.complete_per }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ tarefa.complete_per}}%;"><span style="text-align: center;">{{ tarefa.complete_per }}%</span></div>
                  </div>            
                  {% else %}
                  <div class="progress mb-3">
                    <div class="progress-bar bg-success" role="progressbar" data-width="{{ tarefa.complete_per}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{ tarefa.complete_per}}%;"><span style="text-align: center;">{{ tarefa.complete_per }}%</span></div>
                  </div>
                  {% endif %}               
            </div>              
        </div>                  
        </div>            
        </div>            
        </div>           
        </div>                  
        </div>
    </div>
</section>

{% endblock %}