{% extends 'manager/base.html' %}
{% load static %}

{% load bootstrap4 %}



{% block dashboad %}
<div class="section-header">
    <div class="slider-outer">
        <div class="slider-inner">
            <div class=" projects fron active" data-slider="1">
                <i class="fas fa-file-signature"></i>
                <div class="projects-title">Module</div>
                <h2 class="title-projects-h2">Criar tarefas</h2>
                              
            </div>
        </div>
    </div>
</div>

  <div class="section-body">
      	
			<div class="dashboard-container">
				
                <h2 class="section-title">Adicionar Nova Tarefa</h2>
                <p class="section-lead">
                    WorkSmart - Site completo para Gerenciamento e elaboração no processo de desenvolvimento dos seus projetos. 
                </p>

				<div class="row">
								
					<div class="col-12 col-md-6 col-lg-6">
						<div class="card">
						  <div class="card-header">
							<h4>Formulário</h4>
						  </div>
						  <div class="card-body">
							<div class="alert alert-info">
							  <b>Nota!</b> lançamentos de um nova tarefa tem ser elaborado.
							</div>            
							{# Display a form #}
							<form style = "margin-left:36px; margin-right:36px;"  action="." method="post" enctype="multipart/form-data">
								{% csrf_token %}
							<div style = "position:relative; right:40px;" class="card-header">
								<h4>Validação do dados da nova tarefa</h4>
								</div>
								<br>
								<label class="form-label">Pertence à qual projeto?</label>
								<div class="row gutters-sm">
									{% if projetos%}
									{% for projeto in projetos %}
									<div class="col-6 col-sm-4">
									  <label class="imagecheck mb-4">
										<input name="projeto" type="checkbox" value="{{projeto.id}}" id="{{projeto.nome}}" class="imagecheck-input"  />
										{% if projeto.img %}
										<figure class="imagecheck-figure">											
											<img width="190px" height="50px" src="{{ projeto.img.url }}" alt="}" class="imagecheck-image">										
										</figure>
										{% else %}
										<figure class="imagecheck-figure">											
											<img src="{% static 'assets/img/news/img01.jpg' %}" alt="}" class="imagecheck-image">									
										</figure>											
										{% endif %}
									  </label>
									</div>
									{% endfor %}
									{% endif %}								
								  </div>
								  <div class="form-group">
									<label>Título da Tarefa</label>
									<input name="titulo" type="text" class="form-control">
								  </div>
								  <div class="form-group">
									<label for="exampleFormControlTextarea1">Descrição da tarefa</label>
									<textarea name="descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
								  </div>
								  <div class="form-group">
									{% if tarefas.count > 0 %}
									<div class="item-input dependencias">
										<label>Há pré-requisitos?</label>
										<br>									
										<button type="button" class="btn btn-xs btn-primary ativar-pre-requisitos">Sim</button>
										<button type="button" class="btn btn-success btn-icon icon-left">
											<i class="fas fa-sitemap"></i> Tem Pré Requisitos <span class="badge badge-transparent">{{ tarefas.count }}</span>
										</button>
										<br>
										<div class="pre-requisitos mt-2">												
											{% for tarefa in tarefas %}								
												<div class="form-group">
													<div class="control-label">{{ tarefa.titulo }}</div>
													<label for="{{ tarefa.titulo|safe }}"  class="custom-switch mt-2">
													  <input type="checkbox"  value="{{ tarefa.id }}" id="{{tarefa.titulo|safe}}"  name="pre_requisito" class="custom-switch-input">
													  <span class="custom-switch-indicator"></span>
													  <span class="custom-switch-description">Eu concordo com os termos e condições</span>
													</label>
												  </div>
											{% endfor %}                        
										</div>
									</div>
									{% else %}
									<div class="item-input dependencias">
										<label>Há pré-requisitos?</label>
										<br>									
										<button type="button" class="btn btn-xs btn-primary ativar-pre-requisitos">Não</button>
										<button type="button" class="btn btn-danger btn-icon icon-left">
											<i class="fas fa-sitemap"></i>Não tem Pré Requisitos <span class="badge badge-transparent">{{ tarefas.count }}</span>
										  </button>
										<br>
									</div>
									{% endif %}	
									
									<div class="form-group">
										<label class="form-label">Colaboradores</label>
										<div  class="selectgroup selectgroup-pills">										  
										  <label class="selectgroup-item">
											<input type="checkbox" name="colaboradores" value="{{ request.user }}" class="selectgroup-input">
											<span class="selectgroup-button">{{ request.user }}</span>
										  </label>										
										</div>
									  </div>
					
								  </div>
								  <div class="card-footer text-right">									
									<button type="submit" class="btn btn-outline-secondary ">Enviar<span class="ml-2 fa fa-paper-plane" aria-hidden="true"></span></button>									
								  </div>
								</div>
							</div>
					</div>		
					</div><!-- close .row -->									
				</div><!-- close .dashboard-container -->
  			</div>
{% endblock %}