{% extends 'initial/base.html' %}
{% load static %}

{% block index %}


<section style="margin-top: 90px;" class="w3l-about1">
    <div class="new-block py-5">
      <div class="container py-lg-5">
        <div class="middle-section">
          <!-- <h5>Tagline</h5> -->
          <div class="section-width">
            <h2>Comece seu gerenciamento hoje com este modelo profissional.</h2>
          </div>
          <div class="link-list-menu">
              <p class="mb-md-5 mb-3">Workflow é a definição, execução e automação de processos de gerenciamento onde as tarefas é foco.</p>
              <a href="about.html" class="btn btn-outline-primary btn-outline-style py-3 btn-icon">Mais Informações <span class="fa fa-chevron-right" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
    </div>
    </section>
  <section class="w3l-stats">
    <div class="main-w3 py-5">
      <div class="container py-lg-3">
        <div class="row align-items-center">
          <div class="col-md-6 title">
            <h3>Sistema de gerenciamento de projetos e definição e recursos!</h3>
            <p class="mt-4 text-justify">Aumentando a produtividade no local de trabalho e organizando uma equipe para um melhor planejamento das tarefas, ou fazendo com que todos no escritório trabalhem nos projetos com maiores prioridades.</p>
          </div>
          <div class="col-md-6 main-cont-wthree-fea text-center">
            <div class="row">
              <div class="col-6 pr-2 mt-4">
                <div class="grids-speci1">
                  <span class="fas fa-archive"></span>
                  <h3 class="title-spe">1200+</h3>
                  <p>Projetos</p>
                </div>
              </div>
              <div class="col-6 pl-2 mt-4">
                <div class="grids-speci1">
                  <span class="fas fa-file-signature"></span>
                  <h3 class="title-spe">15k+</h3>
                  <p>Tarefas</p>
                </div>
              </div>
              <div class="col-6 pr-2 mt-4">
                <div class="grids-speci1">
                  <span class="fas fa-people-arrows"></span>
                  <h3 class="title-spe">158</h3>
                  <p>Colaboradores</p>
                </div>
              </div>
              <div class="col-6 pl-2 mt-4">
                <div class="grids-speci1">
                  <span class="fas fa-check"></span>
                  <h3 class="title-spe">879+</h3>
                  <p>Projetos Concluído</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  <section class="w3l-section-title">
    <div class="new-block py-5">
      <div class="container pt-lg-5">
        <div class="row">
        <div class="col-md-4 title">
          <h3>Nossa Visão</h3>
        </div>
        <div class="col-md-8 title-text">
          <p class="text-justify"> O gerenciamento do projeto é prática que leva o sucesso do projeto a um novo nível e a ferramenta de gerenciamento de projeto é o caminho neste  sistema de progresso natural de lida com vários aspectos de um projeto.</p>
        </div>
      </div>
      </div>
    </div>
  </section>
  <section class="w3l-about3">
    <div class="story-inner-6 text-left py-5">
      <div class="container pt-lg-3">
        <div class="row align-items-center">
          <div class="col-md-6 story-gd">
            <h3 class="global-title title">Gerenciamento  com soluções de primeira classe para você</h3>
            <p class="mb-4 text-justify">Você descobrirá que sistemas de gerenciamento de projetos 
                é um sistemas que disponibiliza todos os recursos essenciais e necessários para gerenciar projetos e equipes, é muito fácil.</p>
  
              <div class="story-info-content">
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Visibilidade</a>
                  </h5>
                </div>
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Responsabilidade</a>
                  </h5>
                </div>
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Organização</a>
                  </h5>
                </div>
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Desenvolvimento e coordenação</a>
                  </h5>
                </div>
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Colaboração da Equipe</a>
                  </h5>
                </div>
              </div>
  
          </div>
          <div class="col-md-5 offset-md-1 offset-0 mt-md-0 mt-5">
            <div class="story-gd proff">
  
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="w3l-about4">
    <div class="story-inner-6 text-left py-5">
      <div class="container pt-lg-3">
        <div class="row align-items-center">
          <div class="col-md-5">
            <div class="story-gd proff">
  
            </div>
          </div>
          <div class="col-md-6 offset-md-1 offset-0 story-gd mt-md-0 mt-5">
            <h3 class="global-title title">Rastreamento de tempo eficaz</h3>
            <p class="mb-4 text-justify">Cada vez mais gerentes desejam o controle do tempo como um recurso
                importante para um melhor planejamento, estimativa precisa do tempo e trabalho com
                 grande precisão nas tarefas do projeto. Um sistema de gerenciamento de projetos com uma
                  ferramenta de controle de tempo melhorará a maneira como os projetos avançam.</p>              
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="w3l-about5">
    <div class="story-inner-6 text-left py-5">
      <div class="container pt-lg-3">
        <div class="row align-items-center">
          <div class="col-md-6 story-gd">
            <h3 class="global-title title">Somos qualificados & profissionais </h3>
            <p class="mb-4 text-justify">s conselhos de gerenciamento de projetos são os tomadores de 
                decisão que serão úteis para conectar as pessoas que estão trabalhando no 
                projeto. Ele se concentra no status das tarefas, pelo qual a tarefa pode ser 
                movida por diferentes estágios do projeto.</p>
  
              <div class="story-info-content">
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Fluxos de trabalho personalizáveis</a>
                  </h5>
                </div>
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Colaboração com a equipe </a>
                  </h5>
                </div>
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Gerenciando de Equipe</a>
                  </h5>
                </div>
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Colaboração em tempo real</a>
                  </h5>
                </div>
                <div class="story-info">
                  <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                    Gerenciamento do tempo </a>
                  </h5>
                </div>
              </div>       
          </div>
          <div class="col-md-5 offset-md-1 offset-0 mt-md-0 mt-5">
            <div class="story-gd proff">  
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>  
  <section class="w3l-team" id="team">
      <div class="teams1 py-5">
          <div class="container py-lg-3">
              <div class="teams1-content">
                  <h2>Conheça nossa adorável equipe</h2>
                  <p class="team-text mb-5">Antes de darmos um salto e discutirmos os recursos integrados da Worksmart, vamos dar uma olhada na nossa equipe. </p>
                      <div class="owl-carousel owl-theme text-center">
                          
                          <div class="item">
                              <div class="d-grid team-info">
                                  <div class="column position-relative">
                                      <a href="#url"><img src="{% static 'assets/images/team.jpg' %}" alt="" class="img-fluid rounded team-image" /></a>
                                  </div>
                                  <div class="column">
                                      <h3 class="name-pos"><a href="#url">Anthony</a></h3>
                                      <p>Project Manager</p>
                                      <div class="social">
                                          <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                          <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="d-grid team-info">
                                  <div class="column position-relative">
                                      <a href="#url"><img src="{% static 'assets/images/team2.jpg' %}" alt="" class="img-fluid rounded team-image" /></a>
                                  </div>
                                  <div class="column">
                                      <h3 class="name-pos"><a href="#url">Dennis Jack</a></h3>
                                      <p>Team Lead</p>
                                      <div class="social">
                                          <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                          <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="d-grid team-info">
                                  <div class="column position-relative">
                                      <a href="#url"><img src="{% static 'assets/images/team3.jpg' %}" alt="" class="img-fluid rounded team-image" /></a>
                                  </div>
                                  <div class="column">
                                      <h3 class="name-pos"><a href="#url">Harold</a></h3>
                                      <p>Developer</p>
                                      <div class="social">
                                          <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                          <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="d-grid team-info">
                                  <div class="column position-relative">
                                      <a href="#url"><img src="{% static 'assets/images/team4.jpg' %}" alt="" class="img-fluid rounded team-image" /></a>
                                  </div>
                                  <div class="column">
                                      <h3 class="name-pos"><a href="#url">Lawrence</a></h3>
                                      <p>Web Designer</p>
                                      <div class="social">
                                          <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                          <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="d-grid team-info">
                                  <div class="column position-relative">
                                      <a href="#url"><img src="{% static 'assets/images/team5.jpg' %}" alt="" class="img-fluid rounded team-image" /></a>
                                  </div>
                                  <div class="column">
                                      <h3 class="name-pos"><a href="#url">Bradley</a></h3>
                                      <p>Graphic Designer</p>
                                      <div class="social">
                                          <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                          <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
          </div>
      </div>
  </section>
  
  
  <section class="w3l-index4">
    <div class="section-four gotocontact py-5">
      <div class="container py-xl-5 py-lg-3">
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-6">
            <div class="heading white">
              <h3>Oferecemos os melhores gerenciamento para tornar a vida mais fácil</h3>
              <p class="mt-4">Definitivamente, pode ajudá-lo a colocar seus projetos novamente sob controle.</p>
            </div>
          </div>
          <div class="offset-xl-1 offset-0 col-xl-3 col-lg-6 text-lg-right mt-5 mt-lg-0">
            <a class="btn btn-light btn-outline-style py-3" href="{% url 'contact:formulário' %}" title="Contact Us!"><span
                class="fa fa-location-arrow mr-2"></span>Entre em Contatos!</a>
          </div>
        </div>
      </div>
  </section>









{% endblock %}