{% extends 'initial/base.html' %}
{% load static %}

{% block index %}
{% if messages %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-3">      
        <div class="card-body">
          {% for message in messages %} 
          {% if message.tags == 'error' %}    
          <div class="alert alert-danger alert-has-icon">
            <button class="close" data-dismiss="alert">
              <span>&times;</span>
            </button>
            <div class="alert-icon"><i style="font-size: 28px;" class=" mr-2 text-dark fa fa-lightbulb-o"></i>Ops....</div>
            <div class="alert-body">              
              {{ message }}
            </div>
          </div> 
          {% elif message.tags == 'success' %}
          <div class="alert alert-success alert-has-icon">
            <button class="close" data-dismiss="alert">
              <span>&times;</span>
            </button>
            <div class="alert-icon"><i style="font-size: 28px;" class=" mr-2 text-dark fa fa-lightbulb-o"></i>Parabéns....</div>
            <div class="alert-body">              
              {{ message }}
            </div>
          </div> 
          {% endif %}
          {% endfor %}    
        </div>      
      </div>
    </div>
</div>  
{% endif %}
<!-- contact-form -->
<section style="margin-top: 140px;" class="w3l-contact " id="contact">
    <div class="contact-infubd py-5">
      <div class="container py-lg-3">
        <div class="contact-grids row">
          <div class="col-lg-6 contact-left">
            <div class="partners">
              <div class="cont-details">
                <h5>Contatos</h5>
                <p class="mt-3 mb-4">Olá, Estamos disponíveis 24 horas por dia, 7 dias por semana, por fax, e-mail ou por telefone. Ligue para nós para que possamos conversar mais sobre isso.</p>
                <h6 class="mb-4"> Para mais informações ou perguntas sobre nosso projeto de produtos, por favor, sinta-se à vontade para entrar em contato conosco.</h6>
              </div>
              <div class="hours">
                <h6 class="mt-4">Email:</h6>
                <p> <a href="mailto:info@example.com">
                    info@example.com</a></p>
                <h6 class="mt-4">Endereço:</h6>
                <p> 433 California St, Suite 300 San Francisco, CA 94104, USA</p>
                <h6 class="mt-4">Contato:</h6>
                <p class="margin-top"><a href="tel:+(21) 255 999 8899">+(21)
                    255 999 8899</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
            <form action="." method="post" class="signin-form">
              {% csrf_token %}
              <div class="input-grids">                                   
              <p><label for="id_nome">Nome:</label> <input type="text" name="nome" maxlength="150" required id="id_nome"></p>
              <p><label for="id_email">Email:</label> <input type="email" name="email" maxlength="190" required id="id_email"></p>
              <p><label for="id_assunto">Assunto:</label> <input type="text" name="assunto" maxlength="150" required id="id_assunto"></p>
              <p><label for="id_messagem">Messagem:</label> <textarea name="messagem" cols="40" rows="10" placeholder="Digite sua mensagem aqui" required id="id_messagem">
              </textarea></p>
              <div class="text-right">
                <button type="submit" class="btn btn-primary btn-style">Enviar<span style="margin-left: 10px;" class="fa fa-paper-plane" aria-hidden="true"></span></button>
              </div>
            </form>
          </div>
  
        </div>
        <div class="col-12">
          <div class="map mt- pt-md-5">
            <h5>Localização.</h5>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387145.86654334463!2d-74.25818682528057!3d40.70531100753592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1493028309728"
              style="border:0" allowfullscreen=""></iframe>
              
          </div>
        </div>       
      </div>
  </section>
  <!-- /contact-form -->
{% endblock %}


<p><label for="id_nome">Nome:</label> <input type="text" name="nome" maxlength="150" required id="id_nome"></p>
<p><label for="id_email">Email:</label> <input type="email" name="email" maxlength="190" required id="id_email"></p>
<p><label for="id_assunto">Assunto:</label> <input type="text" name="assunto" maxlength="150" required id="id_assunto"></p>
<p><label for="id_messagem">Messagem:</label> <textarea name="messagem" cols="40" rows="10" required id="id_messagem">
</textarea></p>